<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuliiastelmakhovska.zooandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity android:name=".AddAdmin" />
        <activity android:name=".AddBranch" />
        <activity android:name=".BranchActivity" />
        <activity android:name=".ProductActivity" />
        <activity android:name=".AddProduct" />
        <activity android:name=".Edit_Product"></activity>
        <activity android:name=".ItemView"></activity>
    </application>

</manifest>